<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Students</title>
</head>
<header>
    <h2 class="title-GG">Groupe Generator</h2>
    <ul>
        <% studentsAAA.forEach(function(student) { %> 
            <li><%= student.name %></li>
          <% }); %>
      </ul>
    <nav>
        <ul class="nav">
            <li><a href="#">Students</a></li>
            <li><a href="#">Groups</a></li>
        </ul>
    </nav>
</header>

<body>  
    <h3>List of studants</h3>
    <div class="addName">
        <form action="/" method="post" id="student">
            <label for="insertname" class="label">Insert Name:</label>
            <input type="search" name="insertname" id="insertname">
            <input type="submit" value="Add">
        </form>
    </div>
</body>

</html>