body{
    background-color: rgb(44, 44, 44);
}

h2{
    color: honeydew;
}


header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(39, 38, 38);
}

ul>li{
    text-decoration: none;
    display: inline;
}

a{
    text-decoration: none;
    color :grey;
}

a:hover, a:active{
 color: white;
 border-bottom: white 3px solid;
}

.title-GG{
    grid-column: 2/2;
}

.nav{
    grid-column: 4/4;
}
